spring:
  main:
    banner-mode: "off"
  jersey:
    type: filter
  resources:
    static-locations: file:./config/static/,classpath:/static/

logging.level:
  org.dotwebstack.framework: DEBUG
  org.springframework.boot.autoconfigure.logging: INFO
  org.eclipse.rdf4j: DEBUG

dotwebstack:
  config:
    resourcePath: file:./config
    host: localhost
    linkstrategy: global
    systemGraph: http://dotwebstack.org/configuration/Theatre
    shacl:
      uri:
        result:
          path: http://www.w3.org/ns/shacl#resultPath
          message:
